In [1]:
import pandas as pd

In [10]:
df_train = pd.read_csv("Datasets/ag_news_csv/train.csv")
df_train.columns = ['Topic', 'Title', 'Description']
df_train.head()

,Topic,Title,Description
0,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
1,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
2,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
3,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."
4,3,"Stocks End Up, But Near Year Lows (Reuters)",Reuters - Stocks ended slightly higher on Frid...

In [3]:
df_test = pd.read_csv("Datasets/ag_news_csv/test.csv")
df_test.columns = ['Topic', 'Title', 'Description']
df_test.head()

,Topic,Title,Description
0,4,The Race is On: Second Private Team Sets Launc...,"SPACE.com - TORONTO, Canada -- A second\team o..."
1,4,Ky. Company Wins Grant to Study Peptides (AP),AP - A company founded by a chemistry research...
2,4,Prediction Unit Helps Forecast Wildfires (AP),AP - It's barely dawn when Mike Fitzpatrick st...
3,4,Calif. Aims to Limit Farm-Related Smog (AP),AP - Southern California's smog-fighting agenc...
4,4,Open Letter Against British Copyright Indoctri...,The British Department for Education and Skill...

In [6]:
merged_df = pd.concat([df_train, df_test])
merged_df.head()

,Topic,Title,Description
0,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
1,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
2,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
3,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."
4,3,"Stocks End Up, But Near Year Lows (Reuters)",Reuters - Stocks ended slightly higher on Frid...

In [9]:
print("Train Rows = ", str(df_train.shape[0]))
print("Test Rows = ", str(df_test.shape[0]))
print("Total train and test Rows = ", str(df_train.shape[0] + df_test.shape[0]), ", Merged rows = ", str(merged_df.shape[0]))

Train Rows =  119999
Test Rows =  7599
Total train and test Rows =  127598 , Merged rows =  127598

In [5]:
Ag_News_df = merged_df
for i in range(0, Ag_News_df.shape[0]):
    if Ag_News_df.iloc[i, 0] == 1:
        Ag_News_df.iloc[i, 0] = 'World news'
    elif Ag_News_df.iloc[i, 0] == 2:
        Ag_News_df.iloc[i, 0] = 'Sports news'
    elif Ag_News_df.iloc[i, 0] == 3:
        Ag_News_df.iloc[i, 0] = 'Business news'
    elif Ag_News_df.iloc[i, 0] == 4:
        Ag_News_df.iloc[i, 0] = 'Science and technology news'

In [8]:
Ag_News_df.head()

,Topic,Title,Description
0,Business news,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
1,Business news,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
2,Business news,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
3,Business news,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."
4,Business news,"Stocks End Up, But Near Year Lows (Reuters)",Reuters - Stocks ended slightly higher on Frid...

In [7]:
Ag_News_df.to_csv('Datasets/ag_news_csv/ag_news_merged.csv', index=False)